
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

//Markdown Editor
@import '~simplemde/dist/simplemde.min.css';

@import '~vuetify/dist/vuetify.min.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.noline {text-decoration: none}
.removemargin-left {
    margin-left:0 !important;
    padding-top: 20px;
}
.border {
    border:1px solid red;
}
.toolbar-linebreak {
    flex-basis: auto !important;
    -webkit-flex-basis: auto !important;
    max-width: 100% !important;
    width: 100% !important;
}
.toolbar-height-inc {
    display: block;
    height: 230px;
}
.toolbar-height-inc .panel{
    padding-top: 90px;
}
